# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.*.swp
CMakeFiles/
CMakeFiles/*
build/
bulid/*
src/.deps/*
src/.deps/
src/**/.deps/
src/**/.libs/
autom4te.cache/*
autom4te.cache/
build-aux/*
build-aux/
src/.deps/*
src/.deps/
src/.libs/*
src/.libs/
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-h1
!*.cpp
!*.hpp
!*.am
!*.ac
!*.sh
tmp/
tmp/*
*.cpp~
*.hpp~
*.Po

m4/
m4/*

bin/tracethreat_nrml

src/services/test_service

NEWS
ltmain.sh
install-sh
depcomp
configure
config.log
log/
log/*
db/
db/*
tracethreat-nrml.sdf
*.sdf
Debug/
Debug/*
/tracethreat-nrml/Debug/
/tracethreat-nrml/Debug/*
test_core/Debug/
test_core/Debug/*
